:root {
  --c-black: #393939;
  --c-white: #ececec;
  --c-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --p-fonts: Helvetica, Arial, sans-serif;
  --s-fonts: Verdana;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-black: #ececec;
    --c-white: #393939;
  }
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before, *::after {
  display: block;
}

img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

::selection {
  background-color: var(--c-black);
  color: var(--c-white);
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  appearance: none;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--p-fonts);
  background-color: var(--c-white);
  color: var(--c-black);
  hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.header__ul {
  padding: 1em 2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 2em;
}
.header__a {
  border-bottom: 1px solid currentColor;
  transition: all 200ms ease;
}
.header__a:hover {
  color: #51a1fc;
}

.home {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.home__h1 {
  font-size: 3em;
}
@media screen and (max-width: 507px) {
  .home__h1 {
    font-size: 2em;
  }
}
.home__h2 {
  font-size: 2.5em;
}
@media screen and (max-width: 507px) {
  .home__h2 {
    font-size: 1.8em;
  }
}

.works__h2 {
  font-size: 2.5em;
  margin-bottom: 3rem;
  text-align: center;
}
@media screen and (max-width: 507px) {
  .works__h2 {
    font-size: 1.8em;
  }
}
.works__articles {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.works__article {
  max-width: 750px;
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  box-shadow: var(--c-shadow);
}
.works__img {
  width: 100%;
  box-shadow: var(--c-shadow);
  cursor: pointer;
}
.works__links {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.works__a {
  width: 35px;
  height: 35px;
}
.works__svg {
  width: 100%;
  height: 100%;
}

.about__h2 {
  font-size: 2.5em;
  margin-bottom: 3rem;
  text-align: center;
}
@media screen and (max-width: 507px) {
  .about__h2 {
    font-size: 1.8em;
  }
}
.about__content {
  max-width: 800px;
  margin: auto;
}
.about__p {
  margin-bottom: 1em;
}

.main__section {
  min-height: 80vh;
  padding: 2em;
}
