@use '../partials/mixins';

.header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  
  &__nav{}
  &__ul{
    padding: 1em 2em;
    @include mixins.flex(row, wrap, flex-end, center);
    gap: 2em;
  }
  &__li{}
  &__a{
    border-bottom: 1px solid currentColor;
    transition: all 200ms ease;

    &:hover { 
      color: #51a1fc; 
    }
  }
  &__button {}
}

.theme {
  &__bar {
    width: 100px;
    height: 10px;
    padding: 0 1em;
    border-radius: 15px;
    @include mixins.flex(row, nowrap, center, center);
    position: relative;
    background-color: var(--c-black);
  }
  &__circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    background-color: #606060;
    cursor: pointer;
    transition: all 300ms ease;

    &--right {
      left: calc(100% - 25px);
      background-color: antiquewhite;
    }
  }
}

