@use '../partials/mixins';

.works{
  &__h2{
    font-size: 2.5em;
    margin-bottom: 3rem;
    text-align: center;

    @include mixins.media(507px) {
      font-size: 1.8em;
    };
  }
  &__articles{
    width: 100%;
    @include mixins.flex(row, wrap, center, center);
    overflow: hidden;
  }
  &__article{
    max-width: 46.875rem;
    margin: 1em;
    padding: 1em;
    @include mixins.flex(column, nowrap, center, center);
    gap: 1.5em;
    box-shadow: var(--c-shadow);
    opacity: 0;
    transition: all 300ms ease;

    &:nth-of-type(even) {
      transform: translateX(+50%);
    }
    &:nth-of-type(odd) {
      transform: translateX(-50%);
    }

    &--active {
      opacity: 1;
      transform: translateX(0) !important;
    }
  }
  &__img{
    width: 100%;
    box-shadow: var(--c-shadow);
    cursor: pointer;
  }
  &__h3 {}
  &__p {
    min-height: 54px;
  }
}