@use 'partials/custom';
@use 'partials/reset';

@use 'components/header';
@use 'components/main';
@use 'components/modal';
@use 'partials/mixins';


body {
  transition: all 300ms ease;
}

.links {
  width: 100%;
  @include mixins.flex(row, wrap, center, center);
  gap: 2em;
  fill: var(--c-white);

  &__a {
    width: 35px;
    height: 35px;
  }
  &__svg {
    width: 100%;
    height: 100%;
  }
}